<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="bookFooter" id="footer" class="container-fluid align-content-center p-5 text-center">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p style="font-family: sans-serif !important;">Subscribe to <bold>Bookstore Newsletter</bold></p>
            <h3>Get Our Monthly Updates</h3>
            <p class="mb-2">directly in your email</p>
           <div><input type="text" class="input"><a href="#" class="btn btn-outline-primary  ms-2">Subscribe</a></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

</body>
</html>