<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="navBar" class="navbar navbar-expand-md  sticky-top">
  <div class="container">
    <a th:href="@{/}" class="navbar-brand text-dark"><i class="fas fa-book-open me-2"></i>BookStore</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#myNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="myNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/view-cart}" style="text-decoration: none !important;"><i class="fas fa-cart-arrow-down  ms-3 mt-2 me-2"></i> <span class="h3" th:text="${cartSize}"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
